/*
/mods/*
config/betterfps.json
config/InvTweaks.cfg
config/thaumicjei_itemstack_aspects.json
config/worldedit/worldedit.properties
config/smoothfont/player-*
config/splash.properties
config/jei/jei.cfg
config/jei/worldSettings.cfg
config/xaero*
config/BiomeTweaker/output

!/mods/OpenTerrainGenerator
!.gitignore
!/config/
!/scripts/
!/electroblob_spells/
!/mods/
config/misca.cfg
