/*
!.gitignore
!/config/
!/scripts/
!/electroblob_spells/
!/mods/
/mods/*
!/mods/OpenTerrainGenerator

config/betterfps.json
config/InvTweaks.cfg
config/splash.properties
config/thaumicjei_itemstack_aspects.json
config/worldedit/worldedit.properties
config/smoothfont/player-*
