config/jei/worldSettings.cfg
config/betterfps.json
config/InvTweaks.cfg
config/splash.properties
config/thaumicjei_itemstack_aspects.json
config/smoothfont/player-958600dc0fd0e1db83da966c7913f663.cfg
config/worldedit/worldedit.properties
