# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Закон Уолшибэ гласит, что на один дирижабль приходится около пяти жертв и одно разрушенное здание.
        Как у кобольдов нельзя трогать свечу, так и у кузнецов лучше не забирать их кузницу ради своего же блага.
        Если вы завели домашних питомцев, в частности кота и птицу, обязательно привейте кошку от бешенства.
        Не переворачивайте имена душ в ковбойской шляпе.
        Маскарад не всегда значит праздник, лучше не бродите по улицам. Они на крышах.
        Коэффициент длительности жизни правительства всегда выше, если его КПД ниже 0.
        Отличительный признак бед с ментальным состоянием - белые волосы.
        Почаще заглядывайте в мусорные баки возле производственных зданий, там вы наверняка найдете оружие и броню.
        Относитесь с пониманием к вашей страже, однажды её может не стать.
        Не храните ману в себе, это отвлекает окружающих.
        Берегитесь ягодных кустов, не высаженных по стандарту Э., скорее всего это подделка и колючие кусты класса Д.
        Говорят, если бегать в припрыжку, то можно упасть и сломать себе ноги.
        Встретив висящий в воздухе силуэт знакомого вам эго - притворитесь, что вы этого не видели.
        У стен и даже воздуха есть глаза и они все записывают, помните об этом.
        Иногда даже самого могущественного героя может остановить простая дверь. Чудеса случаются, обломы тоже.
        Если вам говорят, что раньше было лучше - вы наверняка общаетесь с самозабвенным реликтом.
        Слово Властвует имеет одну лишнюю букву.
        Завтра может не наступить.
        Иногда сильные душой мальчишки побеждают закостеневших генералов.
        Если странный бородатый мужчина подходит к вам и предлагает подержать его посох, не стоит отказывать себе в этом удовольствии.
        Жители некоторых деревень сообщают, что видели быстро плавающую доску, на которой было кресло. Лодочник так и не был распознан.
        Может, золотые лопаты плохо копают, но зато кое-что другое делают просто на ура.
        Остерегайтесь мужчин в солнцезащитных очках и с вёдрами молока.
        Чтобы не умереть от выстрела с неизвестной позиции, будьте осторожнее и носите хорошую броню.
        Тираны и диктаторы обожают летающий транспорт, так что перед революцией обзаведитесь ПВО.
        Однажды было основано поселение на шляпке гигантского гриба, но его съел великан.
        Всегда носите с собой рыбу, чтобы откупаться от вездесущих мурлоков.
        В одном форте водятся невидимые стражники, непрестанно караулящие камеры. Жаль, что заключённые верят в это.
        Что будет, если в бездонный колодец уронить бесконечную верёвку?
        Говорят, по Полотну ходит мужчина в колпаке и синем плаще. Он несёт с собой равенство и демократию.
        Где-то на востоке стоит одинокая церквушка из брёвен. Мертвецы обходят её стороной.
        Один портной так полюбил тюрьму, что решил зашиться в ней навсегда.
        Скелеты предпочитают жить в подвалах или роскошных пригородных особняках, третьего не дано.
        Рыжий мальчишка нашёл таумономикон, а через месяц написал к нему второй том.
        Блоки Stew наиболее подходят для строительства за счёт дешевизны и красоты.
        Чтобы передвигаться быстрее, используйте транспорт: лошадей, корабли Davinci`s Vessels, машины Vehicle Mod.
        Руда может давать от х2 до х5 больше слитков при должной обработке.
        Почти все руды встречаются только в биомах определенного типа. Например, магические кристаллы можно найти только в магических биомах.
        Металлы мода Metallurgy 4: Reforged встречаются крайне редко.
        Драгоценные камни встречаются невероятно редко.
        Каждая руда чаще встречается в своём специфичном биоме.
        Используйте шкафчики Storage Drawers для хранения большого количества однотипных предметов.
        Industrial Foregoing предоставляет множество инструментов для автоматизации сельского хозяйства.
        Mekanism - один из самых сложных модов, но это компенсируется эффективностью и выгодой его использования.
        Химики могут создавать медикаменты, наркотики, стимуляторы и другие полезные препараты.
        Основной мод химиков - Alchemistry, позволяет раскладывать ресурсы на вещества и синтезировать из них что-то ещё.
        Химики - лучшие друзья инженеров. Многие материалы они могут синтезировать дешевле, чем коллеги-технари.
        Blockcraftery и Chisel - лучшие друзья строителя.
        Сложно разбираться во всех рецептах Pam`s Harvestcraft? Постройте кухню из Cooking for Blockheads!
        Не знаете, с какого инженерного мода начать? Попробуйте Immersive Engineering и Thermal Expansion.
        Каждый дварф обязан посетить подземный план Erebus, кишащий различными жуками.
        Во многих модах имеются внутриигровые книги-руководства, добавляемые модом Patchouli.
        Не забывайте красиво оформлять свои постройки и мастерские. Это позволит поддержать атмосферу.
        Vehicle Mod предоставляет 23 вида современного транспорта с системой кастомизации.
        Vehicle Mod предоставляет множество сельско-хозяйственной техники.
        Топливо для транспорта Vehicle Mod можно добыть из других видов горючего, используя конвертер жидкостей из Industrial Foregoing.
        Разбираетесь в программировании? Используйте OpenComputers и OpenSecurity для написания программ на Lua.
        Алкоголь можно варить в модах Rustic и Pam`s BrewCraft.
        Чаепития - неотъемлемая часть жизни на Полотне. Используйте Simply Tea!
        В пещерах можно найти много интересного. И чудовищ тоже, с избытком!
        Используйте Refined Storage, Storage Drawers и Arcane Archives для удобного хранения своих ресурсов.
        Нравится травничество? Попробуйте систему зельеварения Rustic.
        Моды серии Spartan предоставляют множество видов оружия ближнего боя.
        Почти все строительные блоки Stew можно сделать с использованием зубила Chisel.
        Однообразная еда хуже усваивается. Кушайте разную пищу.
        Нажмите Alt+R (по умолчанию), чтобы включить автошаг. Это удобно для разговора во время ходьбы.
        Если застряли - сначала попытайтесь выбраться сами, если не вышло - зовите ГМа.
        Не стоит обижать карликов-матершинников. Они взорвут вас.
        Не стоит ломать блоки в индурах.
        Историки утверждают, что однажды Тауматурги достигли таких высот в своем ремесле, что начали представлять угрозу целостности Иштар. Именно поэтому в наше время их возможности кажутся искусственно ограниченными.
        Лошади и свиньи имеют случайные характеристики скорости и здоровья, но с помощью разведения можно добиться лучшего результата.
        Не пускайте карликов на производство. Не путайте их с дварфами.
        Экспериментируйте. Ваш персонаж способен генерировать идеи и творить даже с низкой Изобретательностью, главное не слишком разгоняйтесь - дыры в теориях и в городах никто не отменял.
        Лодки не плавают по асфальту. Инцидента не происходило.
        Не забывайте устанавливать подпорки в шахты, даже один столбик может удерживать потолок от падения.
        Короли не правят вечно, но только не на Полотне.
        Изобретать и создавать артефакты может кто угодно, независимо от ремесленных навыков. Нужна лишь хорошая идея, щепотка усердия и Голос, который вам не жалко потратить.
        Диковинки - предметы с интересными нарративными эффектами. Их можно создавать без ГМа, имея лишь нарративные или основные ремесла!
        Используйте /rename для переименовывания предметов и изменения их описания. Не забудьте поставить &f в начале, чтобы название не было написано курсивом!
        /rename поддерживает коды форматирования Minecraft. Не забывайте о правилах их использования в Рулбуке!
        С помощью зажатия SHIFT в прыжке на стены можно забраться чуть повыше. Не злоупотребляйте этой возможностью, а еще лучше - используйте только по правилам Акробатики в Рулбуке.
        Нажмите F12 (по умолчанию) для доступа в меню кастомизации MorePlayerModels.
        Вы можете нарисовать несколько вариантов скина (в разной одежде, например), загрузить их в CRUST и переключать с помощью пресетов MorePlayerModels.
        В игре представлены широкие возможности кастомизации персонажа. Читайте соответствующий гайд на вики!
        Не забывайте, что это ролевой сервер. Minecraft играет существенную роль, но всё им не ограничивается.
        Нажмите CTRL + N (по умолчанию) для доступа к личным заметкам. Они видны лишь вам и могут быть доступны в папке notes в директории игры.
        Используйте TAB для автозаполнения команд, имён игроков и аргументов.
        Положите атлас из Antique Atlas на хотбар для отображения миникарты.
        Не занимайтесь агрессивным лутингом.
        После того как большинство магических томов было вычищено с поверхности Дрегоры и других Ярусов и собранно в недоступные частные библиотеки, практиканты боевой магии наконец то нашли способ создавать свои собственные заклинания.
        Администрация не обязана восстанавливать вещи, если вы умерли в лагах или из-за бага.
        Не спорьте с ведущим ГМом.
        Не используйте внеигровой (ООС) чат /offtop, если в этом нет реальной необходимости.
        Все Эго понимают друг друга.
        Вы можете связываться с другими игроками в ЛС Discord, если хотите назначить встречу.
        Старайтесь реагировать на происходящее вокруг от лица персонажа.
        Сервер - не поводка. Вы должны развлекать себя сами - для этого существует множество инструментов.
        Будьте снисходительнее и дружелюбнее.
        Рак - это когда граница между игроком и персонажем полностью исчезает. Избегайте этого.
        Точки над головой игрока - индикатор того, что он пишет сообщение.
        Не убегайте от игроков, которые пишут что-то.
        Minecraft играет не последнюю роль на нашем ролевом сервере. Не бойтесь реагировать и отыгрывать то, что предоставляет игровая механика.
        Путешествия в другие миры - Нараку, Иару и Инсектариум возможны только если существует город, способный поддерживать портал туда.
        Не стесняйтесь использовать социальную систему.
        Здоровье не восстанавливается само по себе. Обратитесь к целителю или доктору.
        Выносливость или стамина тратится на добычу и крафты. Она восстанавливается со временем, либо от разговора с другими персонажами.
        Целостность падает при получении урона. Старайтесь получать меньше ранений.
        Ментальное здоровье падает, если персонаж долго находится в одиночестве. Общайтесь!
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}
